body {
  background-image: url("./../img/bg.gif");

  height: 100%;
  background-size: cover;
}

a {
  color: white;
}

.head {
  color: white;
}

.centerdiv {
  border: 5px solid white;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  padding: 30px;
}

.centerdiv img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
  margin-bottom: 20px;
}

.centerdiv button {
  color: white;
  background-color: black;
  border: 2px solid white;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
